<!-- <div class="card__row-title"> <i class="fas fa-home"></i> / Manage / Email / Templates</div> -->

<!-- <div class="mui-container-fluid" *ngIf="!templateDetails;else templateDetailsDiv"> -->
  
    <div class="mui-row">
        <div class="co-list-box">
          <div class="co-list-box__head sky-green small">
              <button mat-icon-button class="back-arrow-btn-2" 
              [routerLink]="['/admin/manage']">
                <mat-icon>arrow_back</mat-icon>
              </button>
            <div class="title">Offers</div>
          </div>
          <div class="co-list-box__body">
              <div class="example-button-row">
                <h2>Do you want information about plan</h2>
                  <!-- <a mat-stroked-button  class="example-button-row-login"  [routerLink]="['/admin/manage/social/login/facebooklogin']" style="background-color: cornflowerblue;margin: 10px;"> 249</a><br> -->
                  
                  <!-- <a mat-stroked-button  class="example-button-row-login"  routerLink="." style="background-color: cornflowerblue;margin: 10px;">299</a><br> -->
                   <!-- <a mat-stroked-button  class="example-button-row-login"  routerLink="." style="background-color: cornflowerblue;margin: 10px;">399</a><br> -->
                 
                 <mat-card> 
                  <a mat-stroked-button class="example-button-row-login" routerLink="." style="background-color: cornflowerblue;margin: 10px;">Rs.219</a> 
                  <span>30GB data</span>
                </mat-card>
                  <mat-card> 
                    <a mat-stroked-button class="example-button-row-login" routerLink="." style="background-color: cornflowerblue;margin: 10px;">Rs.219</a> 
                    <span>30GB data</span>
                  </mat-card>
                    <mat-card> 
                      <a mat-stroked-button class="example-button-row-login" routerLink="." style="background-color: cornflowerblue;margin: 10px;">Rs.219</a> 
                      <span>30GB data</span>
                    </mat-card>
                      <mat-card> 
                        <a mat-stroked-button class="example-button-row-login" routerLink="." style="background-color: cornflowerblue;margin: 10px;">Rs.219</a> 
                        <span>30GB data</span>
                        <a mat-stroked-button  class="example-button-row-login"   [routerLink]="['/admin/manage/disposition/questionone']" style="background-color: cornflowerblue;margin: 10px;float: right;">Yes</a>
                 <a mat-stroked-button  class="example-button-row-login"  [routerLink]="['/admin/manage/disposition/questionone']" style="background-color: cornflowerblue;margin: 10px;float: right;"> No</a><br>
                      </mat-card>
                      
                 <!-- <a mat-stroked-button  class="example-button-row-login"  routerLink="." style="background-color: cornflowerblue;margin: 10px;">299</a><br> -->
                  <!-- <a mat-stroked-button  class="example-button-row-login"  routerLink="." style="background-color: cornflowerblue;margin: 10px;">399</a><br> -->
                <!-- <a mat-stroked-button  class="example-button-row-login"   routerLink="." style="background-color: cornflowerblue;margin: 10px;">499</a> -->
    <!-- new added -->
    
    <!-- new added -->
                </div>
          </div>
        </div>
      </div>
    
    <!-- </div> -->
    